<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/menu.xsd">
    <entries>
        <entry>
            <name>Command Line</name>
            <label lang="en">Command Line</label>
            <label lang="de">Kommandozeile</label>
            <controller>FroshBash</controller>
            <action>index</action>
            <class>sprite-cards-stack settings--logfile</class>
            <parent identifiedBy="controller">ConfigurationMenu</parent>
        </entry>
        <entry>
            <name>Reset</name>
            <label lang="en">Reset</label>
            <label lang="de">Reset</label>
            <controller>FroshReset</controller>
            <action>index</action>
            <class>sprite-arrow-circle-225-left</class>
            <parent identifiedBy="controller">ConfigurationMenu</parent>
        </entry>
    </entries>
</menu>